body {
    font-family: Arial;
    background-color: #DCDCDC;
    text-align: center;
}


#bracelet{
    width: 204px;
    margin-left:40%;
    position: absolute;
    z-index: 1;
    display: inline-block;
    margin-top: 0;
    top:0;
}

.btn {
    cursor: pointer;
    color:  #303030;
    position: absolute;
    display: block;
    border-radius: 10px;
    top:0;
    background-color: black;
    width: 11px;
    height: 35px;
    margin-top: 315px;
}

#backbutton {
    margin-left:392px;
    color:black;
}

#lockbutton{
    margin-left:170px;
    color:black;
}


#iGobox { 
    margin-top: 300px;
    margin-left: 180px;
    width:190px;
    height:210px;
    text-align: center;
    border:solid thick grey;
    border-style: ridge;
    border-width: 14px;
    border-radius: 15px;
    z-index:2;
    position:absolute;

}

#lockscreen {
    cursor: pointer;
    display: none;
    margin-top: auto;
    margin-left: auto;
    width:190px;
    height:210px;
    position:absolute;
    background: url('lockscreen.png');
    background-size: cover;
    z-index: 10;

}

#main {

    background: #e2c8b3;

}

#upperbar {
    color: white;
    background: #e2c8b3;
    width:190px;
    height:55px;     
}

#hash {
    display: flex;
    justify-content: space-between;
    margin-left: 6px;
    margin-right: 6px;
}

#sos {
    cursor: pointer;
    margin-top: 14px;
    width:25px;
    height:27px;
    border-radius: 50%;
    text-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 2.5px 2.5px;
    background: #A75D67;
    padding-top: 7px;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: center;

}

#popupSOS {
    display: none;
    font-size:14px;
    color:white;
    position: absolute;
    z-index:3;
    background-color: rgba(102,124,127,0.8);
    width:190px;
    height:210px;
}

#close {
    cursor: pointer;
    width:40px;
    margin-left:150px;
    padding-bottom: 5px;
}

#otherclose{
    cursor: pointer;
    width:40px;
    margin-left:145px;
    padding-bottom: 5px;
    margin-top: 12px;
    position:absolute;
    z-index: 10;
}
.circle{
    cursor: pointer;
    width:50px;
    height: 50px;
    padding-top: 10px; 
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    margin-left: 65px;
}

#circleGreen{
    display: block;
    display: block;
    background-color: #3ab27c;
    margin-top: 2px;
    position: absolute;
}

#circleRed{
    display: none;
    background-color: #A75D67;
    position: absolute;
    margin-top: 2px;     
}

#call {
    
    width: 40px;
}

#info {
    cursor: pointer;
    margin-top: 14px;
    width:25px;
    height:25px;
    border-radius: 50%;
    box-shadow: 0px 0px 2.5px 2.5px;
    background: #818e8d;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    font-size:18px;
}

#weather {
    cursor: pointer;
    margin-top: 8px;
    width:80px;
    height:40px;
    background-color:#8bd8ef;
    text-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 2.5px 2.5px white;
    border-radius: 10px;
    color: black;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    color:white; 
}


#table2 {       
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    border-spacing: 10px 2px;
}

#first {    
    cursor:pointer;
    width:50px;
    height:50px;
    border-radius: 50%;
    box-shadow: 0px 0px 2.5px 2.5px white;
    background: #db8067;
}
 
#second {    
    cursor:pointer;   
    width:50px;
    height:50px;
    border-radius: 50%;
    box-shadow: 0px 0px 2.5px 2.5px white;
    background-color:#db8067;
}

#third {
    cursor:pointer;
    width:50px;
    height:50px;
    border-radius: 50%;
    box-shadow: 0px 0px 2.5px 2.5px white;
    background: #db8067;
}

#time {         
    margin-top: 6px;
    margin-right: auto;
    width:187px;
    height:69px;
    background: #e2c8b3;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#contrast {
    float: right;
    cursor: pointer;
}

#clock {
    font-size: 30pt;
    text-shadow: 2px 2px 2.5px rgba(150, 150, 150, 1);
}

#date {
    font-size: 12pt;
    margin-left: 12px;
    text-shadow: 2px 2px 2.5px rgba(150, 150, 150, 1);
}

#iGoWrapper {
    position: relative;
    width: 210px;
    height: 100%;
}

.middle {

    text-align: center;
}


#weatherimg {
    width:40px;
    position: absolute;
    z-index: 1;
    
}

#weatherPOP {
    color:white;
    display: none;
    background-color: rgba(102,124,127,0.8);
    position: absolute;
    z-index:4;
    width:190px;
    height:210px;
}

#WEAtable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-spacing: 5px 2px;
    background-color: #db8067;
    border-radius: 10px;
}

.weaicon {
    width:25px;
}

#calltime {
    display: none;
    color: white;
    font-size: 14pt;
}


#mainhelp {
    display: none;
    position: absolute;
    z-index:3;
    background-color: rgba(102,124,127,0.8);
    width:190px;
    height:210px;
    color:white;
    text-align: left;
    font-size: 10pts;
}

#mainhelpimg {
    width:190px;
    height:210px;
}

#battery {
    float:left;
    margin-top:48px;
    left: 5px;
    position: absolute;
    cursor: pointer;
}

#showbattery{
    display: none;
    color:white;
    position: absolute;
    z-index:3;
    width:175px;
    height: 210px;
    top:0;
    left:0;
    background-color: rgba(102,124,127,0.8);
    text-align: left;
    padding-left: 15px;
}

#batteryText {
    font-size: 12px;
    text-align: center;
    margin-right: 10px;
    margin-left: -5px; 
    margin-top:40%;
}

#batterysave {
    cursor: pointer;
    margin-left: 60px; 

}

#batactivated {
    display: none;
    font-size: 12px;
    text-align: center;
    margin-right: 10px;
    margin-left:  0px; 
    margin-top:0%;
}

#other2close{
    cursor: pointer;
    width:40px;
    margin-left:135px;
    padding-bottom: 5px;
    position:absolute;
}
#mh_1 {
    position: absolute;
    padding-top: 22px; 
    padding-left: 6px;
}

#mh_2 {
    position:absolute;
    padding-left: 51px;
    padding-top: 20px;
    font-size: 11pt;
}

#mh_3 {
    font-size: 10pt;
}

#mh_4 {
    position: absolute;
    padding-left: 11px;
    padding-top: 10px;
    font-size: 10pt;
}

#mh_5 {
    position: absolute;
    font-size:10pt;
    padding-top: 25px;
    padding-left: 5px;
}

#mh_6 {
    position: absolute;
    float:left;
    font-size: 10pt;
    margin-left: 105px;
    margin-top: 35px;
    
}
